{
  "extends": "stylelint-config-sass-guidelines",
  "plugins": [
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-order": [
      "width",
      "height"
    ],
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
